/* apply a natural box layout model to all elements, but allowing components to change */

body, html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-color: #eee;
}

.section ~ .section {
    padding-top: 0px;
}

body > .container {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.full-height {
    height: 100%;
}

.side-panel .CodeMirror {
    width: 100%;
}

.code-container {
    display: flex;
    flex-direction: column;
}

.tool-tab {
    flex-grow: 1;
    display: flex;
    flex-direction: column;    
}

.tabs {
    flex-shrink: 0;
}

.CodeMirror {
    flex-grow: 1;
}



#mbe-tab-content {
    overflow-y: scroll;
    flex-grow: 1;
    flex-basis: 0;
}

